.catalog {
  padding-top: 27px;
}

.catalog__title {
  margin: 0 0 41px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog__card {
  padding-top: 19px;
  padding-bottom: 25px;
}

.catalog__card-link {
  font-size: 16px;
  line-height: 20px;
  color: $color-nero;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $vp-1440) {
    line-height: 21px;
  }
}

.catalog__card-list {
  margin: 0;
  padding: 0;
}

.catalog__card-term {
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

.catalog__card-definition {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

.catalog__link-order {
  padding: 10px 109px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    padding: 10px 93px;
  }

  @media (min-width: $vp-1440) {
    padding: 10px 53px;
  }
}

.catalog__card-more {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: $color-black-one;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__card-text {
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__show-all {
  padding: 10px 94px;

  font-size: 16px;
  line-height: 20px;
  color: $color-charcoal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding: 10px 79px;
  }

  @media (min-width: $vp-1440) {
    padding: 10px 39px;
  }
}
