.example {
  background-color: $color-whisper;

  @media (min-width: $vp-768) {
    background: linear-gradient($color-white 619px, $color-whisper 619px);
    border-top: 1px solid $color-whisper-border;
    padding-top: 43px;
    padding-bottom: 100px;
  }

  @media (min-width: $vp-1440) {
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
    background: linear-gradient($color-white 136px, $color-white-smoke 136px);
  }
}

.example__wrapper {
  @include container;

  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $vp-1440) {
    display: grid;
    padding-bottom: 75px;

    gap: 224px;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  margin: 0 0 40px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $vp-768) {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0 0 20px 0;
  padding: 0;

  line-height: 18px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 69px;
  }
}

.example__info-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    margin-bottom: 99px;
  }

  @media (min-width: $vp-1440) {
    flex-direction: column;
    margin-bottom: 0;
    max-width: 366px;
  }
}

.example__list {
  display: grid;
  margin: 0 0 34px 0;
  padding: 0;

  text-align: center;

  gap: 32px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    gap: 42px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 44px;
  }
}

.example__list-item {
  display: grid;
  align-content: start;
  width: 100%;
}

.example__item-term {
  padding: 14px 10px 18px 10px;
  border: 1px solid $color-very-light-grey;
  border-radius: 3px;


  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 14px 10px 20px 10px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-definition {
  position: relative;
  bottom: 9px;
  left: 50%;

  width: 90px;
  margin: 0;
  padding: 0 15px 0 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  color: $color-charcoal;

  background-color: $color-whisper;
  transform: translateX(-50%);

  @media (min-width: $vp-768) {
    width: max-content;
    max-width: 144px;
    padding: 0 9px 0 9px;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-white;
  }

  @media (min-width: $vp-1440) {
    background-color: $color-white-smoke;
  }
}

.example__cost {
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: auto;

    text-align: end;
  }

  @media (min-width: $vp-1440) {
    flex-direction: row;
    margin: 0;
  }
}

.example__cost-text {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $vp-1440) {
    margin-right: 67px;
  }
}

.example__cost-sum {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider {
  position: relative;
  display: grid;
  grid-template-columns: 50% 1fr;
  position: relative;

  width: 280px;
  height: 256px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $vp-768) {
    width: 560px;
    height: 512px;
  }
}

.example__slider-wrapper {
  grid-row: 1/2;
  display: flex;

  overflow: hidden;

  &--before {
    grid-column: 1/2;
  }

  &--after {
    justify-content: flex-end;

    grid-column: 2/3;
  }
}

.example__slider-image {
  width: 280px;
  max-width: 280px;

  @media (min-width: $vp-768) {
    width: 560px;
    max-width: 560px;
  }
}

.example__range {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;

  width: 4px;
  height: 100%;

  background-color: $color-dim-gray;
  border-radius: 2px;

  &:hover {
    background-color: $color-apple;
  }

  &:active {
    background-color: rgba($color-limeade, 0.6);
  }
}

.example__range-toggle {
  position: relative;
  top: 108px;
  right: 18px;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: $color-white;
  border: 2px solid $color-dim-gray;
  border-radius: 50%;

  @media (min-width: $vp-768) {
    top: 236px;
  }
}

.example__range:hover .example__range-toggle {
  border-color: $color-apple;
}

.example__range:active .example__range-toggle {
  border-color: rgba($color-limeade, 0.6);
}

.example__range-image {
  position: absolute;
  width: 24px;
  height: 18px;
  top: 9px;
  left: 7px;
  fill: $color-dim-gray;
}

.example__range:hover .example__range-image {
  fill: $color-apple;
}

.example__range:hover .example__range-image {
  fill: rgba($color-limeade, 0.6);
}
