.location {
  @media (min-width: $vp-1440) {
    position: relative;
  }
}

.location__wrapper {
  @include container;

  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  &--form {
    background-color: $color-white-smoke;
  }

  @media (min-width: $vp-768) {
    padding: 56px 70px;
    justify-content: space-between;
  }

  @media (min-width: $vp-1440) {
    padding: 56px 60px 56px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $color-white;
    width: 565px;
  }
}

.location__address-wrapper {
  display: flex;
  flex-direction: column;
}

.location__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: $color-black-one;
  text-transform: uppercase;
  max-width: 139px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address-wrapper {
  @media (min-width: $vp-768) {
    max-width: 160px;
    text-align: end;
  }
}

.location__address {
  margin: 0;
  padding: 0;

  line-height: 20px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.location__address-city {
  margin: 0;
  padding: 0;

  line-height: 20px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

.location__map-image {
  width: 100%;
  height: 100%;
  display: block;
}
