.questionnaire {
  margin-bottom: 32px;

  border-top: 1px solid $color-gainsboro;

  @media (min-width: $vp-768) {
    margin-bottom: 72px;

    border-top: none;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 83px;
  }
}

.questionnaire__wrapper {
  padding-top: 27px;

  @media (min-width: $vp-768) {
    @include container;

    padding-top: 27px;
    padding-bottom: 32px;
  }
}

.questionnaire__title {
  margin: 0 0 37px 0;
  padding: 0 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    margin-bottom: 54px;
    padding: 0 0 0 39px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 56px;
    padding: 0;
  }
}

.questionnaire__description {
  max-width: 265px;
  margin: 0 0 39px 0;
  padding: 0 20px;

  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 360px;
    margin-bottom: 66px;
    padding: 0 0 0 40px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1440) {
    padding: 0;
  }
}

.questionnaire__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-1440) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.questionnaire__form-group {
  margin: 0 0 15px 0;
  padding: 0 20px;

  border: none;

  @media (min-width: $vp-768) {
    padding: 0 37px 0 41px;

    &--information {
      margin-bottom: 72px;
    }

    &--contacts {
      margin-bottom: 65px;
    }
  }

  @media (min-width: $vp-1440) {
    padding: 0;

    &--information {
      width: calc(50% - 40px);
      margin-bottom: 0;
    }

    &--contacts {
      width: 100%;
      margin-top: 65px;
      margin-bottom: 67px;
    }
  }
}

.questionnaire__form-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.questionnaire__form-group--contacts .questionnaire__form-list {
  @media (min-width: $vp-1440) {
    display: grid;

    gap: 78px;
    grid-template-columns: 1fr 1fr;
  }
}

.questionnaire__form-item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 7px;

    @media (min-width: $vp-768) {
      margin-bottom: 17px;
    }
  }
}

.questionnaire__form-group--contacts .questionnaire__form-item:not(:last-child) {
  margin-bottom: 0;
}

.questionnaire__form-label {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
}

.questionnaire__label-name {
  font-size: 16px;
  line-height: 18px;
  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire__form-input {
  position: relative;

  flex-grow: 1;
  margin-left: 13px;
  padding: 14px 20px 13px 20px;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $color-charcoal;
  text-transform: uppercase;

  border: 1px solid $color-whisper-form;

  &--padding {
    margin-left: 10px;
    padding: 14px 15px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-family: $ff-oswald;
    color: $color-charcoal;
    text-transform: uppercase;

    opacity: 1;
  }

  &:hover {
    border-color: $color-very-light-grey;
  }

  &:focus {
    outline: 2px solid $color-charcoal;
  }

  &:focus:invalid {
    border-color: 2px solid $color-light-coral;
  }

  @media (min-width: $vp-768) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: 30px;

    &--padding {
      margin-left: 10px;
      padding: 11px 29px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      font-family: $ff-oswald;
      color: $color-charcoal;
      text-transform: uppercase;

      opacity: 1;
    }
  }
}

.questionnaire__image {
  position: absolute;
  right: 15px;

  width: 20px;
  height: 20px;

  text-align: center;
}

.questionnaire__form-title {
  position: relative;

  width: max-content;
  max-width: 228px;
  margin: 0 0 28px -23px;
  padding: 0 23px;

  font-size: 24px;
  line-height: 26px;

  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $color-apple;
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      top: 23px;
    }
  }

  @media (min-width: $vp-768) {
    max-width: 600px;
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }
}

.questionnaire__button-wrapper {
  padding: 0 20px;

  text-align: center;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    padding: 0 0 0 41px;
  }

  @media (min-width: $vp-1440) {
    width: 100%;
    padding: 0;
  }
}

.questionnaire__button {
  @include button;

  width: 100%;
  margin-bottom: 17px;
  padding: 10px 44px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;

  @media (min-width: $vp-768) {
    max-width: 282px;
    margin: 0 64px 0 0;
    padding: 14px 45px;

    font-size: 20px;
  }

  @media (min-width: $vp-1440) {
    max-width: 568px;
    margin-right: 84px;
  }
}

.questionnaire__legend {
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    margin-top: -7px;

    font-size: 16px;
  }
}
