.show-more {
  position: relative;

  padding-top: 79px;
  padding-bottom: 23px;

  text-align: center;

  border-bottom: 1px solid $color-whisper-card;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 145px;

    width: 30px;
    height: 2px;

    background-color: $color-light-gray;

    @media (min-width: $vp-768) {
      top: 80px;
      left: 130px;

      width: 60px;
    }

    @media (min-width: $vp-1440) {
      left: 92px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $vp-768) {
    margin-top: 81px;
    padding: 159px 35px 36px 36px;

    border: 2px solid $color-white-smoke;
  }
}

.show-more__title {
  margin: 0 0 9px 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-black-one;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 23px;
    padding: 0 57px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $vp-1440) {
    padding: 0;
  }
}

.show-more__text {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin-bottom: 87px;
    padding: 0 42px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $vp-1440) {
    padding: 0;
  }
}

.show-more__button {
  padding: 10px 94px;

  font-size: 16px;
  line-height: 20px;
  color: $color-charcoal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white-smoke;

  &:hover {
    background-color: $color-whisper-card;
  }

  &:focus {
    outline: 2px solid $color-black;
  }

  &:active {
    background-color: $color-whisper-card;
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    padding: 10px 79px;
  }

  @media (min-width: $vp-1440) {
    padding: 10px 39px;
  }
}
