//colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-one: #111111;
$color-nero: #222222;
$color-charcoal: #444444;
$color-white-smoke: #f2f2f2;
$color-apple: #68b738;
$color-limeade: #5eaa2f;
$color-whisper: #eaeaea;
$color-whisper-form: #e7e7e7;
$color-whisper-border: #e6e6e6;
$color-whisper-card: #ebebeb;
$color-light-gray: #d3d3d3;
$color-gainsboro: #d9d9d9;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;
$color-silver: #bababa;
$color-light-coral: #ff8282;
$transparent: rgba(0, 0, 0, 0);

//fonts
$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// viewports
$vp-768: 768px;
$vp-1440: 1440px;
